<div class="container">
  <header>
    <h1>Welcome To The Video Game Database</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
    

    <div class="content">
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>

  </div>
</div>
