<div class="container">
  <header>
    <h1>Welcome To The Video Game Database</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
    

    <div class="content">
      <%if logged_in?%>
        <a href="/games/new">Add A New Game</a>
      <%else%>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      <%end%>

  </div>
</div>
